@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.screen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Title styling */
.title {
  font-family: 'Kanit', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  color: #e958b9;
  text-shadow: 2px 2px 8px rgb(23, 6, 255);
  margin-bottom: 3rem;
}

.subheading {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #ff00aa;
  text-shadow: 1px 1px 6px rgba(123, 0, 255, 0.7);
  margin: 1.5rem 0 0.5rem 0;  
}

/* Body text */
.text {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  max-width: 700px;         
  margin: 0 auto;
  line-height: 1.2;         
}
.text-container {
  background-color: rgba(0, 0, 0, 0.6); /* black with 60% opacity */
  padding: 3rem; 
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}

