.question-container {
  padding: 3rem; 
  border-radius: 10px;
  position: fixed;
  top: 50px;
  left: 25px;
  right: 25px;
  text-align: center;

}
.question-container h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;

    margin-bottom: 1rem;
}