
/* Button container */


.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  pointer-events: auto;
}

.btn-primary {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  background: linear-gradient(145deg, #1e40af, #3b82f6); 
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(73, 159, 239, 0.9), 
              0 0 25px rgba(6, 41, 98, 0.7),
              inset 0 0 8px rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(145deg, #0b2b6f, #60dbfa);
  box-shadow: 0 0 20px rgba(59, 130, 246, 1),
              0 0 40px rgba(59, 130, 246, 0.8),
              inset 0 0 10px rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
} 


.btn-secondary {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  background: linear-gradient(145deg, #1e40af, #3b82f6); 
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(73, 159, 239, 0.9), 
              0 0 25px rgba(6, 41, 98, 0.7),
              inset 0 0 8px rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background: linear-gradient(145deg, #0a3364, #386098);
  box-shadow: 0 0 12px rgba(156, 163, 175, 0.8),
              inset 0 0 6px rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}


.btn-back {
position: fixed;
  top: 1.5rem;  
  left: 1.5rem;  
  padding: 0.5rem 1.25rem;
  font-size: 1.0rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: linear-gradient(145deg, #111827, #1f2937); 
  color: #d1d5db; 
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(107, 114, 128, 0.6),
              inset 0 0 4px rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  z-index: 100;
}

.btn-back:hover {
  background: linear-gradient(145deg, #1f2937, #374151);
  box-shadow: 0 0 10px rgba(156, 163, 175, 0.7),
              inset 0 0 6px rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}
.choice-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.choice-btn {
  width: 700px;       
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 16px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  background: #3b82f6;
  color: white;
}

.choice-btn:hover {
  background: #2563eb;
  transform: translateY(-4px);
}

.choice-btn:active {
  transform: translateY(-1px);
}
